<div class="member_info">
  <div class="member_name">
    <span>{{ member.name }}</span>
    {% if member.website %}
      <a class="member_link" href="{{ member.website }}" target="_blank" rel="noopener noreferrer" aria-label="Website of {{ member.name }}">
        <i class="fa-solid fa-link"></i>
      </a>
    {% endif %}
  </div>
  {% if member.position and member.position != '' %}
    <div class="member_position">{{ member.position }}</div>
  {% elsif member.institute and member.institute != '' %}
    <div class="member_institute">{{ member.institute }}</div>
  {% endif %}
</div>
